
.label-formatter {
  background: #f00;
  .title {
    padding-bottom: 8px;
  }

  table {
    color: #333;

    .label {
      padding-right: 8px;
    }

    .value {
      text-align: right;
      font-weight: bold;
      color: #555;
      min-width: 100px;

    }
  }

}
